/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    color: #333;
    background-color:#7d97ae;
}

/* Header styling */
.branch {
    color: rgb(18, 72, 166);
    text-align: center;
}
.branch h1{
    color: rgb(18, 72, 166);
} 
.branch  p{
    color: rgb(18, 72, 166);
}

/* Navigation bar styling */
.bank-nav{
    height: 35px;
}
.bank-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color:transparent; #1d1d64; 
}
.bank-nav ul li {
    margin: 0%;
    padding: 0%;
}

.bank-nav ul li a {
    color: rgb(18, 72, 166);
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Main content styling */
main {
    padding: 2rem;
}

#home{
    margin-left: 30px;
    margin-top: 20px;
    height: 300px;
    width: 500px;
    z-index: 50;
   
}
#home p{
    background-color: #7d97ae;
    padding: 10px;
    transition: all 1s ease-in;
}
#home p:hover{
    background-color:var(--__N4QdChsbGN6j, #2b2d40); 
    
}
#bank-image{
    background-image: url("bankimg2(dtu).jpg");
    height: 330px;
    width:  700px;
    background-size: cover;
    margin-left: 70px;
    margin-top: 6px;
    border-radius: 10px;
    border: 2px solid rgb(14, 21, 166);
}
#about,#services,#contact{
    margin-left: 30px;
    margin-top: 10px;
    height: 280px;
    width: 500px;
    background-color:hwb(207 38% 38%);  
}
#services{
    height:330px;
    margin-left: 346px;
    margin-top: 3px;
}

.bank-section2{
    display: flex;
}
.p-text{
    background-color: #7d97ae; 
    width: 450px;
    margin-left: 20px;
    margin-top: 10px;
}
.p-text p{
    background-color:#7d97ae;
     padding: 10px;
     transition: all 1s ease-in;
}
.p-text p:hover{
    background-color:var(--__N4QdChsbGN6j, #2b2d40); 
}
#contact{
    height: 200px;
    margin-left: 33px;
}
#bank-map{
    height:230px;
    width: 650px;
    margin-left: 195px;
    margin-top: 15px;
    background-color:hwb(207 38% 38%); 
}
#bank-map iframe{
    height: 200px;
    margin-top: 15px;
    margin-left: 20px;
    
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}