.br-main-section{
    height: 950px;
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    background-image: url("brauditorium.jpg");
    background-size: cover;
} 
.br1{ position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    height: 320px;
    width: 320px;
    border:3px solid black;
    border-radius: 30px;
    transition:all 2s ease-in 1s;
    background-color: rgb(36, 48, 58);
    z-index: 1;
    }
    .br1 p{
        font-size: 25px;
        margin-top: 20px;
        margin-left: 5px;
       
    } 
    .br1 p:hover{
        font-size: 33px;
        transition:all 2s ease-in 1s;
    }
    .br1:hover{
        
        height: 420px;
        width: 420px;
        background-color: rgb(137, 210, 53);
        z-index: 3;
    }
    
.br2{ position:absolute;
    margin-top: 390px;
    margin-left: 20px;
    height: 290px;
    width: 290px;
    border:3px solid black;
    border-radius: 30px;
    background-color: rgb(108, 114, 119);
    transition:all 2s ease-in 1s;
    z-index: 2;
    } 
    .br2:hover{
         z-index: 3;
         transform: translate(55px,-70px);
         height: 390px;
         width: 390px;
         background-color: rgb(32, 112, 218);
    }
.br2 p{ 
    margin-top: 8px;
    margin-left: 10px;
    font-size: 22px;
}
.br2 p:hover{
    font-size: 31px;
    transition:all 2s ease-in 1s;
}
.br3{ position:absolute; 
    margin-top: 30px;
    margin-left: 350px;
    height: 800px;
    width: 800px;
    border:3px solid black;
    border-radius: 50%;
    display:flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    transition:all 4s ease-out ;
   
=======
    
>>>>>>> aa356ef4df6975ff909dcd1fbad04ab776281281
    }
    
    .br3-image{ border: 3px solid black;
        height: 395px;
        width:395px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .br3-image1{
        background-image: url("braudiinsideimage2.jpg");
          border-top-left-radius: 100%;
    }
    .br3-image2{
        background-image: url("braudiinsideimage3.jpeg");
        border-top-right-radius: 100%;
    }
    .br3-image3{
        background-image: url("braudiinsideimage1.jpeg");
        border-bottom-left-radius: 100%;
    }
    .br3-image4{
        background-image: url("braudiinsideimage4.jpeg");
        border-bottom-right-radius: 100%;
    }

 .br4{ position:absolute;
    margin-top: 390px;
    margin-left:1170px;
    height: 290px;
    width: 290px;
    border:3px solid black;
    border-radius: 30px;
    background-color: rgb(108, 114, 119);
    transition: all 2s ease-in 1s;
    z-index: 1;
    }
    .br4:hover{ 
        
        transform: translate(-75px,-40px);
        height: 360px;
        width: 390px;
        z-index: 3px;
        background-color: rgb(180, 82, 160);
    }
    .br4 p{ margin-top: 25px;
        margin-left: 10px;
        font-size: 25px;
     }
     .br4 p:hover{
        font-size: 33px;
        transition:all 2s ease-in 1s;
    }

  .br5{position:absolute;
    margin-left: 1150px;
    margin-top: 40px;
    height: 310px;
    width: 310px;
    border:3px solid black;
    border-radius: 30px;
    background-color: rgb(36, 48, 58);
    transition: all 2s ease-in 1s;
     z-index: 2;
         
    }
    .br5 p{
        font-size: 22px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .br5 p:hover{
        z-index: 6px;
        font-size: 31px;
        transition:all 2s ease-in 1s;
    }
    .br5:hover{ 
        z-index: 3px;
        transform: translate(-55px,10px);
        background-color: rgb(31, 199, 199);
        height: 410px;
        width: 410px;
    }



    