/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 135, 174);
}

header {
    background-color: #47043d;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #75256b;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}
.medical-section1{ border:2px solid transparent ;
                   display: flex;
}
.medical-image{
    background-image: url("");
    background-size: cover;
    height: 500px;
    width: 800px;
}
#home{
    margin-left: 30px;
    margin-top: 20px;
    height: 400px;
    width: 600px;
    z-index: 50;
    background-color: #a24e97;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI';
    transition: all 3s ease-out ;
}
#home:hover{
    background-color: aquamarine;
}
.medical-section2{ margin-top: 20px;
    margin-left: 60px;
    padding: 20px;
    width: 1400px;
    border:2px solid transparent;
    background-color:#9b4790 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 3s ease-out normal;
}
#services:hover{
    transform: rotate(360deg);
    background-color: aquamarine;
}
#staff:hover{
    transform: rotate(360deg);
    background-color: aquamarine;
}
#timings:hover{
    transform: rotate(360deg);
    background-color: aquamarine;
}
#contact:hover{
    transform: scale(2);
    background-color: aquamarine;
}


#services{  background-color: rgba(72, 76, 75, 0.433);
    height:300px;
    width:300px;
    border-radius: 50%;
    margin-left: 50px;
    transition: all 2s ease-out ;
}
#staff{ background-color: rgba(72, 76, 75, 0.433);
    height: 450px;
    width: 450px;
     border-radius: 50%;
     z-index: 30;
     transition: all 2s ease-out ;
}
#timings{background-color: rgba(72, 76, 75, 0.433);
    height: 250px;
    width:250px;
    border-radius: 50%;
    z-index: 40;
    transition: all 2s ease-out ;
}
#contact{
    background-color: #532b4f96;
    border-radius: 20px;
    margin-left: 460px;
    transition: all 3s ease-out  ;
}

#faq{
    background-color: #4c364a;
    
footer {
    text-align: center;
    padding: 1rem;
    background-color: #370431;
    color: white;
}